[project]
name = "python-snippets"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "pytest>=9.0.2",
    "returns>=0.26.0",
    "ruff>=0.14.13",
]
